/* Add the @import statement for Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Adventure+Sans&family=Outdoor+Grotesk&display=swap');

/* Simple Reset */
body {
    background-color: #fcfbfb;
    font-family: 'Outdoor Grotesk', Arial, sans-serif; /* Change the body font */
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0; /* Reset margin for h2 elements */
}

/* Adjusting font sizes */
.home-title {
    font-family: 'Adventure Sans', sans-serif; /* Change the headline font */
    font-size: 2em;
}

.book, .join {
    font-size: 18px; /* Change font size for book and join links */
}

.msg p {
    font-size: 0.8em; /* Change font size for paragraphs inside .msg */
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em; /* Increase line height for better readability */
}

/* Adding Padding */
#logo_link {
    padding-top: 5px; /* Add padding to the logo link */
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px; /* Add padding to navigation links */
}

.book, .join {
    padding: 15px 30px; /* Add padding to book and join buttons */
}

.icon {
    padding-top: 10px; /* Add padding to icons */
}

.msg {
    padding: 35px; /* Add padding to message section */
}

.msg p {
    padding-bottom: 15px; /* Add padding to paragraphs inside .msg */
}

footer {
    padding: 25px 50px; /* Add padding to footer */
}

footer .social img {
    padding-top: 15px; /* Add padding to social media icons */
}

/* Adding Margins */
.home-title {
    margin-top: 10px; /* Add margin to home title */
}

.book, .join {
    margin-top: 50px; /* Add margin to book and join buttons */
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0; /* Add margin to river, camping, and rapids sections */
}

footer {
    margin-top: 200px; /* Add margin to footer */
}
